In [18]:
# file used to edit the Train_rev1.csv file

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv

In [20]:
# import csv as pandas dataframe
df_train = pd.read_csv("Train_rev1.csv") 
# Preview the first 10 lines of the loaded data 
df_train.head(10)

,Id,Title,FullDescription,LocationRaw,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryRaw,SalaryNormalized,SourceName
0,12612628,Engineering Systems Analyst,Engineering Systems Analyst Dorking Surrey Sal...,"Dorking, Surrey, Surrey",Dorking,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk
1,12612830,Stress Engineer Glasgow,Stress Engineer Glasgow Salary **** to **** We...,"Glasgow, Scotland, Scotland",Glasgow,NaN,permanent,Gregory Martin International,Engineering Jobs,25000 - 35000/annum 25-35K,30000,cv-library.co.uk
2,12612844,Modelling and simulation analyst,Mathematical Modeller / Simulation Analyst / O...,"Hampshire, South East, South East",Hampshire,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 40000/annum 20-40K,30000,cv-library.co.uk
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Engineering Systems Analyst / Mathematical Mod...,"Surrey, South East, South East",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,25000 - 30000/annum 25K-30K negotiable,27500,cv-library.co.uk
4,12613647,"Pioneer, Miser Engineering Systems Analyst","Pioneer, Miser Engineering Systems Analyst Do...","Surrey, South East, South East",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk
5,13179816,Engineering Systems Analyst Water Industry,Engineering Systems Analyst Water Industry Loc...,"Dorking, Surrey, Surrey, Surrey",Dorking,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20K to 30K,25000,cv-library.co.uk
6,14131336,Senior Subsea Pipeline Integrity Engineer,A globally renowned engineering and training c...,"Aberdeen, Borders",UK,NaN,permanent,Indigo 21 Ltd,Engineering Jobs,50000 - 100000/annum,75000,cv-library.co.uk
7,14663196,RECRUITMENT CONSULTANT INDUSTRIAL / COMMERCIA...,THIS IS A LIVE VACANCY NOT A GENERIC ADVERTISE...,"MANCHESTER, Greater Manchester",Manchester,NaN,permanent,Code Blue Recruitment,HR & Recruitment Jobs,18000 - 26000/annum TO 26K BASIC + COMM + BENS,22000,cv-library.co.uk
8,14663197,RECRUITMENT CONSULTANT CONSTRUCTION / TECHNIC...,This is an exceptional opportunity to join a c...,"LEEDS, West Yorkshire",Leeds,NaN,permanent,Code Blue Recruitment,HR & Recruitment Jobs,18000 - 28000/annum 18 - 28K BASIC + COMM + BENS,23000,cv-library.co.uk
9,15395797,Subsea Cables Engineer,A subsea engineering company is looking for an...,"Aberdeen, UK",Aberdeen,NaN,permanent,Indigo 21 Ltd,Engineering Jobs,70000 - 100000/annum,85000,cv-library.co.uk

In [21]:
# import csv as pandas dataframe
df_val = pd.read_csv("Train_rev1.csv") 
# Preview the first 10 lines of the loaded data 
df_val.head(10)

,Id,Title,FullDescription,LocationRaw,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryRaw,SalaryNormalized,SourceName
0,12612628,Engineering Systems Analyst,Engineering Systems Analyst Dorking Surrey Sal...,"Dorking, Surrey, Surrey",Dorking,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk
1,12612830,Stress Engineer Glasgow,Stress Engineer Glasgow Salary **** to **** We...,"Glasgow, Scotland, Scotland",Glasgow,NaN,permanent,Gregory Martin International,Engineering Jobs,25000 - 35000/annum 25-35K,30000,cv-library.co.uk
2,12612844,Modelling and simulation analyst,Mathematical Modeller / Simulation Analyst / O...,"Hampshire, South East, South East",Hampshire,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 40000/annum 20-40K,30000,cv-library.co.uk
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Engineering Systems Analyst / Mathematical Mod...,"Surrey, South East, South East",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,25000 - 30000/annum 25K-30K negotiable,27500,cv-library.co.uk
4,12613647,"Pioneer, Miser Engineering Systems Analyst","Pioneer, Miser Engineering Systems Analyst Do...","Surrey, South East, South East",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk
5,13179816,Engineering Systems Analyst Water Industry,Engineering Systems Analyst Water Industry Loc...,"Dorking, Surrey, Surrey, Surrey",Dorking,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20K to 30K,25000,cv-library.co.uk
6,14131336,Senior Subsea Pipeline Integrity Engineer,A globally renowned engineering and training c...,"Aberdeen, Borders",UK,NaN,permanent,Indigo 21 Ltd,Engineering Jobs,50000 - 100000/annum,75000,cv-library.co.uk
7,14663196,RECRUITMENT CONSULTANT INDUSTRIAL / COMMERCIA...,THIS IS A LIVE VACANCY NOT A GENERIC ADVERTISE...,"MANCHESTER, Greater Manchester",Manchester,NaN,permanent,Code Blue Recruitment,HR & Recruitment Jobs,18000 - 26000/annum TO 26K BASIC + COMM + BENS,22000,cv-library.co.uk
8,14663197,RECRUITMENT CONSULTANT CONSTRUCTION / TECHNIC...,This is an exceptional opportunity to join a c...,"LEEDS, West Yorkshire",Leeds,NaN,permanent,Code Blue Recruitment,HR & Recruitment Jobs,18000 - 28000/annum 18 - 28K BASIC + COMM + BENS,23000,cv-library.co.uk
9,15395797,Subsea Cables Engineer,A subsea engineering company is looking for an...,"Aberdeen, UK",Aberdeen,NaN,permanent,Indigo 21 Ltd,Engineering Jobs,70000 - 100000/annum,85000,cv-library.co.uk

In [27]:
len(df_val['SalaryNormalized'])

244768

In [67]:
SalNorm_predict = []
SalNorm_real = []

#####
start_index = 244_750  # start with high number for testing, because lot of processing power&time needed
for n in range(start_index, len(df_val['SalaryNormalized'])):
    row = df_val.iloc[n]
    
    # filter by column value
    filt = df_train[(df_train['LocationNormalized'] == row['LocationNormalized'])&
                    (df_train['Category'] == row['Category'])] 
    
    # add predicted salaries
    mean_SalNorm = filt['SalaryNormalized'].mean()
    SalNorm_predict.append(mean_SalNorm)
    
    # add real salaries
    realSalNorm = row[['SalaryNormalized'][0]]
    SalNorm_real.append(realSalNorm)

    
# print predicted and real SalaryNormalized
for i in range(0, len(SalNorm_real)):
    print('predict:', SalNorm_predict[i], '\nreal:', SalNorm_real[i])

predict: 19687.20930232558
real: 19000
predict: 33385.609375
real: 40000
predict: 15372.5
real: 5006
predict: 22911.052631578947
real: 22800
predict: 26562.242424242424
real: 30000
predict: 22911.052631578947
real: 22800
predict: 22911.052631578947
real: 15600
predict: 32175.2
real: 22800
predict: 32175.2
real: 22800
predict: 21833.590909090908
real: 22800
predict: 21833.590909090908
real: 22800
predict: 21833.590909090908
real: 22800
predict: 21833.590909090908
real: 22800
predict: 21833.590909090908
real: 22800
predict: 21833.590909090908
real: 22800
predict: 21833.590909090908
real: 22800
predict: 22911.052631578947
real: 22800
predict: 26092.0
real: 42500

In [62]:
difference = []
for n in range(0, len(SalNorm_predict)):
    dif = (SalNorm_predict[n] - SalNorm_real[n])
    difference.append(dif)
    
for n in difference:
    print(n)

687.2093023255802
-6614.390625
10366.5
111.0526315789466
-3437.757575757576
111.0526315789466
7311.052631578947
9375.2
9375.2
-966.4090909090919
-966.4090909090919
-966.4090909090919
-966.4090909090919
-966.4090909090919
-966.4090909090919
-966.4090909090919
111.0526315789466
-16408.0

In [ ]:
xx = 'Dorking'
filt = (df_train['LocationNormalized'])

filt = df_train[df_train['LocationNormalized'] == xx] 

filt
mean_SalNorm = filt['SalaryNormalized'].mean()
print(mean_SalNorm)

In [ ]:
leng = 20 
x = list(range(0,20))
y = list(range(100,120))

df= {'a': x,
     'b': y}
df = pd.DataFrame(df)


for index, row in df.iterrows():
    print(row['b'])

for n in range(0, len(df['b'])):
    print(df['b'].iloc[3])

In [ ]:
df_test